{% extends 'base.html' %}

{% block content %}


    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron" style="margin-top: 5%;">
      <div class="container">
        <h1>Opplett.io</h1>
        <p>
            No membership tiers, no storage limitations...<br/>
            20 cents per GB per month, it's that simple.
        </p>
        <p>
            <a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a>
        </p>
      </div>
    </div>


    {% include 'upload_widget.html' %}



{% endblock %}