
{% extends 'base.html' %}

{% block head %}
    <script type="text/javascript" src="{{ url_for('opplett_blueprint.static', filename='opplett-profile.js') }}"></script>
{% endblock %}


{% block content %}

    {# Picture and user information. #}
    <div class="row" style="margin-bottom: 5%;">

        {# Picture #}
        <div class="col-sm-2">
            <img src="{{ user.profile_img }}"
                 alt="{{ user.name }}"
                 class="img-thumbnail img-responsive"
                 style="max-width: 100px;"
            >
        </div>

        {# Small account information if username exists for this user. #}
        <div class="col-sm-10">
            {% if user.username %}
            <p>
                Welcome to your profile, your balance is: {{ user.balance }}
                and you have {{ user.bytes_stored }} bytes stored with us.
            </p>
            {% endif %}
        </div>
    </div>

    {# Payment widget #}
    <div class="row">
        <div class="col-sm-12">
            {% for username, payment in payments %}
                <p>{{ payment }}</p>
                <hr/>
            {% endfor %}
        </div>
    </div>

    {# Username form if first time logging in or payment form with additional information #}
    <div class="row">

        {% if username_form %}

            {# Username creation form if first time logging in. #}
            <div class="col-sm-12">
                {% include 'username_form.html' %}
            </div>

        {% else %}

            {# Payment form and additional information #}
            <div class="col-sm-4">
                <div class="well">
                    {% with form=payment_form %}
                        {% include 'payment_form.html' %}
                    {% endwith %}
                </div>
            </div>
            <div class="col-sm-8">
                <p>
                    More information
                </p>
            </div>

        {% endif %}

    </div>

    <hr/>


    {#
       All widgets / elements concerning the downloading and uploading of files.
       Everything above this, is profile specific, below is for controlling of files.
    #}


    {# If this user has registered a username, show file management portion of profile #}
    {% if user.username %}

        {# Directory navigation and management area #}
        <div class="row" style="margin-bottom: 2%">

            {# Make directory button. #}
            <div class="col-sm-8 col-sm-offset-4" style="margin-bottom: 2%">

                {# Make new directory #}
                <button type="button" id="new_dir_button" class="btn btn-primary">Make new folder</button>

                {# Only show option to remove a directory if this isn't the user's root directory #}
                {% if directory %}
                    <button type="button" id="rm_dir_button" class="btn btn-danger">Remove this folder</button>
                {% endif %}

                {% with form=mkdir_form, username=user.username, directory=directory %}
                    {% include 'new_directory_form.html' %}
                {% endwith %}
                {% with form=rmdir_form, username=user.username, directory=directory %}
                    {% include 'remove_directory_form.html' %}
                {% endwith %}

            </div>

            {# Make breadcrumbs to folder directory #}
            <div class="col-sm-8 col-sm-offset-4">
                <ul class="breadcrumb">
                    <li><a href="{{ url_for('opplett_blueprint.profile', username=user.username) }}">Home</a></li>
                    {% for breadcrumb, breadcrumb_path in breadcrumbs %}
                        <li><a href="{{ url_for('opplett_blueprint.profile', username=user.username, directory=breadcrumb_path) }}">{{ breadcrumb }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>


        {# Uploading widget and folder/file listing #}
        <div class="row">

            <div class="col-sm-4">
                {% include 'upload_widget.html' %}
            </div>


            {# The main file listing area; list of folders and files. #}
            <div class="col-sm-8">

                {# List the folders first #}
                {% for folder in folders %}
                    <a href="{{ url_for('opplett_blueprint.profile', username=user.username, directory=folder['LocalLink']) }}" class="list-group-item list-group-item-info">
                            <span class="badge alert-info pull-right">Go to folder</span>
                            {{ folder['Name'] }}
                    </a>
                {% endfor %}

                {# List the files #}
                {% for file in files %}
                    <a href="{{ url_for('opplett_blueprint.profile', username=user.username, directory=file['LocalLink']) }}" class="list-group-item list-group-item-success">
                        <span class="badge alert-success pull-right">Download</span>
                        {{ file['Name'] }}
                    </a>
                {% endfor %}

                {% if not files and not folders %}
                    <div class="well"><div class="alert alert-info"><strong>Info:</strong> Looks like there is nothing in this folder!</div></div>
                {% endif %}
            </div>

        </div>

    {% endif %}

{% endblock %}