
{% extends 'base.html' %}

{% block content %}

    {# Picture and user information so long as this isn't their first time logging in. #}
    <div class="row" style="margin-bottom: 5%;">

        {# Picture #}
        <div class="col-sm-2">
            <img src="{{ user.profile_img }}"
                 alt="{{ user.name }}"
                 class="img-thumbnail img-responsive"
                 style="max-width: 100px;"
            >
        </div>

        {# Small account information if username exists for this user. #}
        <div class="col-sm-10">
            {% if user.username %}
            <p>
                Welcome to your profile, your balance is: {{ user.balance }}
                and you have {{ user.bytes_stored }} bytes stored with us.
            </p>
            {% endif %}
        </div>
    </div>


    <div class="row">
        <div class="col-sm-12">
            {% for username, payment in payments %}
                <p>{{ payment }}</p>
                <hr/>
            {% endfor %}
        </div>
    </div>

    {# Username form if first time logging in or payment form with additional information #}
    <div class="row">

        {% if username_form %}

            {# Username creation form if first time logging in. #}
            <div class="col-sm-12">
                {% include 'username_form.html' %}
            </div>

        {% else %}

            {# Payment form and additional information #}
            <div class="col-sm-4">
                <div class="well">
                    {% with form=payment_form %}
                        {% include 'payment_form.html' %}
                    {% endwith %}
                </div>
            </div>
            <div class="col-sm-8">
                <p>
                    More information
                </p>
            </div>

        {% endif %}

    </div>

    <hr/>


    {#
       All widgets / elements concerning the downloading and uploading of files.
       Everything above this, is profile specific, below is for controlling of files.
    #}


    {# Uploading tool #}
    {% if user.username %}

        <div class="row" style="margin-bottom: 2%">
            <div class="col-sm-8 col-sm-offset-4">
                <button type="button" class="btn btn-primary">Make new directory</button>
            </div>
        </div>

        <div class="row">

            <div class="col-sm-4">
                {% include 'upload_widget.html' %}
            </div>


            {# The main file listing area, breadcrumbs and list of folders and files. #}
            <div class="col-sm-8">

                {# Make breadcrumbs to folder directory #}
                <ul class="breadcrumb">
                    <li><a href="{{ url_for('opplett_blueprint.profile', username=user.username) }}">Home</a></li>
                    {% for dir in directory %}
                        <li><a href="{{ dir }}">{{ dir }}</a></li>
                    {% endfor %}
                </ul>

                {# List the files or the directories, they come sorted with directories first from server #}
                {% for folder in folders %}
                    <a href="{{ user.username + '/' + folder['Key'] }}" class="list-group-item list-group-item-info">
                            <span class="badge alert-info pull-right">Go to folder</span>
                            {{ folder['Key'] }}
                    </a>
                {% endfor %}
                {% for file in files %}
                    <a href="{{ user.username + '/' + file['Key'] }}" class="list-group-item list-group-item-success">
                        <span class="badge alert-success pull-right">Download</span>
                        {{ file['Key'] }}
                    </a>
                {% endfor %}
                <a href="#" class="list-group-item list-group-item-success"><span class="badge alert-success pull-right">Download</span>image-01.jpg</a>
                <a href="#" class="list-group-item list-group-item-success"><span class="badge alert-success pull-right">Download</span>image-01.jpg</a>
            </div>

        </div>

    {% endif %}

{% endblock %}