<form action="/remove_directory" method="post" id="rm_dir_form" hidden>

    <hr>

    <div class="alert alert-warning">
        <strong>Warning!</strong> This action will irreversibly delete EVERYTHING in this folder and all sub-folders!
    </div>

    <div class="form-group">
        {{ form.csrf_token }}
        {{ form.dir_name.label }} {{ form.dir_name(class_="form-control") }}
        <input type="hidden" name="username" value="{{ username }}">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>

</form>